/* Footer Styles */
.footer {
    background-color: #2f3b52;
    color: #fff;
    padding: 40px 0px 10px 0px;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .logoSection {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .logo img {
    border-radius: 50%;
  }
  
  .logo h2 {
    font-size: 28px;
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: -8px;
  }
  
  .social p {
    margin-right: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #c9c9c9;
  }

  .social .socialIcons a i {
    font-size: 24px;
    transition: color 0.3s ease;
  }

  .social .socialIcons a i:hover {
    color: #ff8c00;
  }
  
  .socialIcons {
    display: flex;
    gap: 15px;
  }
  
  .socialIcons a {
    color: #fff;
    font-size: 20px;
  }
  
  .linksSection {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .linksSection h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .linksSection ul {
    list-style: none;
    padding-left: 0;
  }
  
  .linksSection ul li {
    margin-bottom: 10px;
  }
  
  .linksSection ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .linksSection ul li a:hover {
    color: #16cfc3;
  }

  .copyright {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgb(117, 116, 116);
    font-size: 14px;
    color: #bbb;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: start;
    }

    .logo h2 {
      font-size: 22px;
    }
  
    .logoSection,
    .linksSection {
      width: 100%;
      text-align: start;
    }

    .linksSection {
        margin-left: 30px;
    }
  
    .social {
      justify-content: center;
    }
  }
  